dl
  dt Order ID
  dd
    perch:shop(id="orderID")/
    
  dt Invoice Number
  dd
    perch:shop(id="invoice_number")/
    
  dt Date
  dd
    perch:shop(id="orderCreated" type="date" format="d F Y H:i")/
    
  dt Total
  dd
    perch:shop(id="grand_total_formatted")/
    
  dt Status
  dd
    perch:shop(id="orderStatus" format="UC")/
    
  dt Shipping
  dd
    perch:shop(id="shipping_value")/